.dashboard {
  width: 100%;

  min-height: 100vh;

  padding: 30px;

  background: #121212;

  color: white;

  box-sizing: border-box;
}

/* NAVBAR */

.dashboard-navbar {
  width: 100%;

  margin-bottom: 40px;
}

.dashboard-logo {
  font-size: 2.2rem;

  font-weight: bold;

  color: #1db954;

  text-decoration: none;

  transition: 0.3s;
}

.dashboard-logo:hover {
  transform: scale(1.05);
}

/* TITULO */

.dashboard-title {
  font-size: 48px;

  margin-bottom: 40px;
}

/* SEÇÕES */

.top-section,
.recommend-section,
.artist-section {
  width: 100%;

  margin-bottom: 60px;
}

.top-section h2,
.recommend-section h2,
.artist-section h2 {
  margin-bottom: 20px;

  font-size: 28px;
}

/* CARROSSEL */

.carousel {
  display: flex;

  gap: 20px;

  overflow-x: auto;

  overflow-y: hidden;

  padding-bottom: 10px;

  scrollbar-width: thin;
}

.carousel-card {
  width: 320px;

  min-width: 320px;

  height: 200px;

  position: relative;

  border-radius: 20px;

  overflow: hidden;

  background: #181818;

  flex-shrink: 0;

  transition: 0.3s;
}

.carousel-card:hover {
  transform: scale(1.03);
}

.carousel-card img {
  width: 100%;

  height: 100%;

  object-fit: cover;
}

.carousel-info {
  position: absolute;

  bottom: 0;

  width: 100%;

  padding: 15px;

  background: linear-gradient(
    transparent,
    rgba(0, 0, 0, 0.9)
  );
}

.carousel-info h3 {
  margin: 0;

  font-size: 22px;
}

.carousel-info p {
  margin-top: 5px;

  color: #b3b3b3;
}

/* MUSICAS */

.music-grid {
  display: flex;

  gap: 20px;

  overflow-x: auto;

  overflow-y: hidden;

  padding-bottom: 10px;

  scrollbar-width: thin;
}

/* ARTISTAS */

.artist-grid {
  display: flex;

  gap: 20px;

  overflow-x: auto;

  overflow-y: hidden;

  padding-bottom: 10px;

  scrollbar-width: thin;
}

.artist-card {
  width: 190px;

  min-width: 190px;

  background: #181818;

  border-radius: 18px;

  padding: 20px;

  text-align: center;

  flex-shrink: 0;

  transition: 0.3s;
}

.artist-card:hover {
  background: #242424;

  transform: scale(1.04);
}

.artist-card img {
  width: 130px;

  height: 130px;

  border-radius: 50%;

  object-fit: cover;

  margin-bottom: 15px;
}

.artist-card h3 {
  margin: 0;

  font-size: 20px;
}