* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}
.auth-container {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(to bottom, #1db95433, #121212);
}

.auth-box {
  width: 400px;

  background-color: #181818;

  padding: 40px;

  border-radius: 12px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logo {
  font-size: 42px;
  color: #1db954;
  text-align: center;
}

.subtitle {
  text-align: center;
  color: #b3b3b3;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.auth-form input {
  padding: 14px;

  border: none;
  border-radius: 8px;

  background-color: #282828;

  color: white;
  font-size: 16px;
}

.auth-form input:focus {
  outline: 2px solid #1db954;
}

.auth-form button {
  padding: 14px;

  border: none;
  border-radius: 8px;

  background-color: #1db954;

  color: black;

  font-size: 16px;
  font-weight: bold;

  transition: 0.2s;
}

.auth-form button:hover {
  transform: scale(1.02);
}

.auth-switch {
  text-align: center;
  color: #b3b3b3;
}

.auth-switch a {
  color: #1db954;
  font-weight: bold;
}

.navbar {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 40px;

  background-color: #181818;
}

.nav-logo {
  font-size: 28px;
  font-weight: bold;

  color: #1db954;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  transition: 0.2s;
}

.nav-links a:hover {
  color: #1db954;
}

.home-container {
  width: 100%;
  height: calc(100vh - 80px);

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero h1 {
  font-size: 52px;
  max-width: 700px;
}

.hero p {
  color: #b3b3b3;
  font-size: 18px;
}

.hero button {
  padding: 15px 30px;

  border: none;
  border-radius: 8px;

  background-color: #1db954;

  color: black;

  font-size: 16px;
  font-weight: bold;

  margin-top: 10px;
}

.dashboard {
  padding: 40px;
}

.dashboard h1 {
  margin-bottom: 10px;
}